@font-face {
  font-family: "LemonMilk";
  src: url(Fonts/Lemon\ Milk\ Pro\ Regular.otf);
}
p {
  text-align: center;
  font-family: "LemonMilk";
  color: white;
}

.fadein {
  transform: transcslateY(-30px);
  opacity: 0;
  transition: opacity 2.4s ease, transform 1.2s ease;
}

.fade-in {
  transform: translateY(30px);
  opacity: 1;
}

.defaultStyle {
  text-align: center;
  font-family: "LemonMilk";
  color: white;
}

body {
  background-color: rgb(18, 18, 18);
}

.center {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 80vh;
}

.header {
  text-align: center;
}

.contents{
  transform: scale(1.1);
}

.buttons {
  gap: 15px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

button {
  display: inline-block;
  position: relative;
  font-family: "LemonMilk";
  color: white;
  background-color: rgb(18, 18, 18);
  border: 4px solid rgb(18, 18, 18);
  padding: 7.5px 15px;
  border-radius: 15px;
  transition: all 0.3s ease-in-out;
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0);
}

button:hover {
  transform: scale(1.05);
  background-color: rgb(26, 26, 26);
  border: 4px solid rgb(26, 26, 26);
  box-shadow: 0px 2px 5px 2px rgba(0, 0, 0, 0.2);
}

#notif {
  position: fixed;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  padding: 0.025% 0.80%;
  background-color:rgb(26, 26, 26);
  border-radius: 12px;
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.2);
  opacity: 0;
  transition: all 0.25s ease;
}
